body {
    max-width: 1400px;
    background: #ffffff;
    font-family: 'Raleway', sans-serif;
    color:black;
    margin: auto;
    box-sizing: border-box;
}

section {
    border: 1px red solid;
    padding: 0 50px;
}


h1 {
    /* display: none; (si on veut utiliser h2 pour les titres) */
    font-size: x-large;
    font-weight: bolder;
}

h2 {
    font-size: x-large;
    font-weight: bolder;
}

a {
    color: black;
    text-decoration: none;
}


/*PARTIE HEADER*/

header {
    border: 1px red solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logo {
    height: auto;
    width: 65px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*Les liens de la navigation*/
.navigation {
    
    color:black;
    text-decoration: none;
    padding: 26px 26px 26px 26px;
}

.navigation:hover {
    color: #0065fc;
    border-top: 3px #0065fc solid;
}


/*FORMULAIRE DE RECHERCHE*/

.formulaire {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin : 15px 0;
}

.label {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    margin-right: -5px;
}

input {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: medium;
}

.search {
    border: 1px solid #f2f2f2;
    margin-right: -5px;
    padding: 14px;
}

.searchbutton {
    color: white;
    background-color: #0065fc;
    border: none;
    border-radius: 0 15px 15px 0;
    margin: 0px;
    padding: 15px;
}
    

/*FILTRES*/

.filtres {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bolder;
    margin: 15px 15px 0 15px;
}

.filtres a {
    display: flex;
    align-items: center;
    border: 3px solid #f2f2f2;
    border-radius: 25px;
    padding: 9px 15px 9px 15px;
    margin: 0 25px 0 25px;
}

.filtres a:hover {
    background-color: #deebff;
}

.icones {
    font-size : 1.2em ; 
    color : #0065fc;
}

/*INFO*/

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 15px 0 15px;
}

.info i {
    font-size: 0.6em;
    color : #0065fc;
    border : solid 1.5px #f2f2f2;
    padding: 2px 5px 2px 5px;
    border-radius: 50%;
    margin-right: 7px;
}

/*SECTION HEBERGEMENT*/

.SectionHebergement {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ConteneurHebergement {
    display: flex;
    flex-direction: column;
    width: 58%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 20px 25px;
}

.ConteneurHebergement h2 {
    margin-left: 10px;
}

#afficher {
    margin-left: 10px;
}

#afficher:hover {
    text-decoration: underline;
}

.ConteneurPopulaire {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 20px 35px;
} 

.OrganisationHeb {
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.HebCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    box-sizing: border-box;
    margin-bottom: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.HebCard img {
    width: 220px;
    height: 100px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 25px 25px 0 0;
    padding: 5px 5px 0 5px;
}

.CardDescription {
    padding: 5px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.CardDescription p,i {
    margin: 3px 0 3px 0;
    font-size: smaller;
}

.note {
    color : #0065fc;
}

.badnote {
    color: #f2f2f2;
}

.TitrePopulaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.PopCard {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 25px;
}

.PopCard img {
    height: 125px;
    width: 115px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 25px 0 0 25px;
    padding: 5px 0 5px 5px;
}

.PopDescription {
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 15px;
    justify-content: space-between;
}

.PopDescription p,i {
    font-size: smaller;
}

.PopDescription p {
    margin: 6px 0;
}

